.jumbotron {
  padding-top: 3rem;
  background-color: #e8ddd3;
  /* background-image: url(img/bgjumbotron0.jpg); */
  /* background-attachment: fixed; */
  /* background-size: cover; */
  /* background-position: 0 -400px; */
  /* background-image: url(img/bgjumbotron.jpg); */
}

#Kemampuan {
  background-color: #522222;
}

#PortofolioProgrammer {
  background-color: #e2edff;
}

#PortofolioGame {
  background-color: #e8ddd3;
}

#PortofolioVideo {
  background-color: #e2edff;
}

#PortofolioDesign {
  background-color: #e2edff;
}

section {
  padding-top: 6rem;
}
